* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fond-clair: #3a3e48;
    --fond-sombre: #363943;
    --fond : #111217;
}

body{
    font-family: 'roboto', 'arial';
    width: 100%;
}
header{
    display: flex;
    background-color: var(--fond);
    justify-content: space-between;
    height: 72px;
}
header img{
    margin: 5% 0 0 5%;
    height: 90%;
}
header button{
    width: 120px;
    height: 80%;
    margin: .5% 1%;
}
.liens{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: auto 0;
    font-size: larger;
}
.liens a{
    text-decoration: none;
    color: rgb(231, 231, 231);
}

body{
    background-color: var(--fond-sombre);
}

.section-1{
    background-color: var(--fond-clair);
}
.container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    gap: 24px;
}
.container-1 .img{
    width: 50%;
}
.container-1 .img img{
    max-width: 100%;
    display: block;
}
.text{
    width: 50%;
    color: rgb(226, 226, 226);
    line-height: 26px;
}

.ection{
    background-color: var(--fond-sombre);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    gap: 24px;
}
.container h1{
    text-align: center;
}
.container .text{
    width: 70s;
}